* {
    box-sizing: border-box;
}


/* Style the search field */

.topicSearch input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 30%;
    background: #f1f1f1;
}


/* Style the submit button */

.topicSearch button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #FF5B24;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

.topicSearch button:hover {
    background: #ff7041;
}


/* Clear floats */

.topicSearch::after {
    content: "";
    clear: both;
    display: table;
}