body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(25deg, #551488 50%, #722ac9 50%);
}

.searchContainer {
    margin-top: -100px;
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.searchContainer>i {
    font-size: 30x;
    color: #ff5b24;
}

.searchContainer>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 22px;
    padding-left: 10px;
}

#header {
    position: absolute;
    top: 20%;
    font-size: 60px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#topicName {
    color: #ff5b24;
}

::placeholder {
    color: #ff5b24;
}

#logo {
    display: block;
    position: fixed;
    left: 80px;
    top: 20px;
}