body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(25deg, #551488 50%, #722ac9 50%);
}

#container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header {
    font-size: 60px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#logo {
    display: block;
    position: fixed;
    left: 80px;
    top: 20px;
}

.searchContainer {
    margin-top: 20px;
    width: 600px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.searchContainer>i {
    font-size: 35px;
    color: #ff5b24;
}

.searchContainer>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 27px;
    padding-left: 10px;
}

#topicName {
    color: #ff5b24;
}

::placeholder {
    color: #ff5b24;
}

#countDisplay::first-letter {
    text-transform: capitalize;
}

#countDisplay {
    margin-top: 50px;
    margin-bottom: 90px;
    min-height: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
}